h2{
    color:red;
}

#heading2{
    color: darkkhaki;
}

body{
    background-color:ivory;
}
div{
    color: white;
}

#div1{
    background-color: #0f1111;
}
a{
    color: white;
    text-decoration: none;
}

button{
    background-color: yellow;
}

#A1{
    color: orange;
}